/* some default styles to make the view more native like */

html {
    box-sizing: border-box;

    /* Force the default cursor, even on text */
    cursor: default;

    font-size: 13px;
    color: #666666;
    font-family: -apple-system, Arial, sans-serif;

    background-color: #F7F7F7;

    overflow: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    position: relative;

    /* Prevent the content from being selectionable */
    -webkit-user-select: none;
    user-select: none;
}

input, textarea {
    -webkit-user-select: auto;
    user-select: auto;
}

.app__container {
    width: 100%;
    height: 600px;

    padding: 3rem 2.5rem 2.5rem;
    overflow-y: auto;
}

/* ================= */
/*       Header      */
/* ================= */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #EEE;
    margin-bottom: 1rem;
}

header h1 {
    display: block;
    color: #222222;
    font-size: 1.5rem;
}

header h3 {
    font-size: 1rem;
    font-weight: normal;
    margin-top: .75rem;
    line-height: 1.4;
}

header #header__right {
    text-align: right;
}

header #close {
    background: none;
    border: 0;
    font-size: 2rem;
    line-height: 1.5rem;
    color: #111;
}

header #created-by {
    font-size: 1rem;
    margin-top: .75rem;
    line-height: 1.4;
}

header #created-by #author {
    font-size: 1rem;
    display: block;
    color: #2F7BF7;
    text-decoration: none;
}
header #created-by #author:hover {
    text-decoration: underline;
}

/* ================= */
/*        List       */
/* ================= */
#list {
    display: flex;
    flex-wrap: wrap;

    margin: 0 -10px;
}
#list .list__item {
    flex: 0 0 25%;
    max-width: 25%;

    padding: 0 10px;
    margin-bottom: 20px;

    word-wrap: break-word;
    text-align: center;
}

#list .list__item .inner {
    cursor: pointer;
    background: #fff;
    border: 1px solid #EEEEEE;
    padding-bottom: 10px;
}

#list .list__item .inner:hover {
    border-color: #2F7BF7;
}

#list .list__item .image {
    width: 100%;
    height: 130px;
    margin: .5rem .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#list .list__item .image img {
    max-width: 95%;
    max-height: 100%;
}

#list .list__item h4 {
    font-weight: normal;
    width: 90%;
    margin: 0 auto;
    font-size: .9rem;
}

/* ================= */
/*    List config    */
/* ================= */
#list__config {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;

    font-size: .9rem;
}
#list__config #search-form {

}
#list__config #search-form input {
    width: 150px;
    height: 24px;
    border-radius: 3px;
    border: 1px solid #EEE;
    outline: 0;
    padding: 0 12px;
    margin-right: .5rem;
}
#list__config #search-form input:focus {
    border-color: #2F7BF7;
}
#list__config #search-form button {
    border: 0;
    background: none;
    color: #2F7BF7;
}
#list__config #search-form button[disabled] {
    color: #ccc;
}
#list__config #search-form button:active {
    color: #5D97F6;
}

#list__config #primary-color-picker {
    display: flex;
    align-items: center;
}
#list__config #primary-color-picker ul {
    margin-left: .75rem;
    display: inline-block;
    padding: 0;
    list-style-type: none;
}
#list__config #primary-color-picker ul li {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: .4rem;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,.05);
    cursor: pointer;
}
#list__config #primary-color-picker ul li.active:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    width: 6px;
    height: 6px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

/* ================= */
/*        Misc       */
/* ================= */
.empty-state {
    text-align: center;
    padding: 5rem 0;
}
.text-center {
    text-align: center;
}
